header {
  font-size: 120%;
  height: 135px;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
  .top-right {
    width: 23%;
    display: flex;
    align-items: center;
  }
      .ca-img {
        margin-left: 5%;
        height: 140px;
      }
      .nr {
        color: #669;
        margin-left: 20%;
        margin-right: 30px;
      }
.nav {

  width: 77%;
  clear: both;
  display: flex;
  align-content:space-between;
  justify-content: center;
  align-items: center;
}
  .hnav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5%;
    height: 40px;
    border-radius: 1em;
  }
  .Registruokis {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-right: 20px;
  border-radius: 0.7em;
  color: white;
  background-color: #0974b3;
  height: 70px;
  width: 170px;
  }
/*----------------------------------------------------------------------------*/
article {
  font-size: 130%;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}
.img1 {
  height: 480px;
}
time {
  color: #0C95E9
}
.mid{
  font-size: 110%;
  line-height: 2em;
  margin: 0 80px;
}
.skaityti{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  background-color: #0974b3;
  border-radius: 0.7em;
  color: white;
}
.aside {
  border: rgba(150, 156, 156, 0.5) 2px solid;
  width: 28%;
  box-sizing: border-box;
  padding: 40px;
}
ul {
  margin: 10px;
  font-size: 110%;
  line-height: 1.5em;
  color: rgba(0, 0, 66, 0.8);
}
.skaityti:hover {background-color: #0C95E5; cursor: pointer;}
.Registruokis:hover {background-color: #0C95E5; cursor: pointer;}
.hnav:hover {background-color: #0C95E5; cursor: pointer;color: white;}
